* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}
body {
    background-image: url("../img/bg-man-sitting.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 60px;
    padding-top: 40px;
}

.header .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.header .links {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header .links a {
    text-decoration: none;
    color: #bdbdbd;
    font-weight: 400;
    text-transform: capitalize;
    transition: 0.4s;
    font-size: 14px;
}
.header .links a:hover, 
.header .links .active {
    color: #fff;
}

.quote {
    color: #fff !important;
    padding: 10px 15px;
    background-color: cornflowerblue;
    border: 0;
    border-radius: 18px;
}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    max-width: 1500px;
}

.hero h1 {
    color: #fff;
    font-size: 55px;
    text-transform: capitalize;
    width: 600px;
}

.hero p {
    color: #bdbdbd;
    font-size: 17px;
    width: 400px;
    line-height: 23px;
}

.hero a {
    padding: 15px 30px;
    background-color: #3a79f9;
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}